{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% for chat in all_chat %}
        <article class="media content-section">
          {% ifequal request.user chat.user2 %}
            <img class="rounded-circle article-img" src="{{ chat.user1.profile.image.url }}">
          {% else %}
            <img class="rounded-circle article-img" src="{{ chat.user2.profile.image.url }}">
          {% endifequal %}
            <div class="media-body">
              <div class="article-metadata">
                {% ifequal request.user chat.user2 %}
                  <a class="mr-2" href="{% url 'detail_chats' chat.user1.username %}">{{ chat.user1.username }}</a>
                {% else %}
                  <a class="mr-2" href="{% url 'detail_chats' chat.user2.username %}">{{ chat.user2.username }}</a>
                {% endifequal %}
              </div>
            </div>
          </article>
        {% endfor %}
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
            <button class="btn btn-dark" type="submit">New Chat</button>
      </div>
      <br><br><br>

    </form>

{% endblock content %}